@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    background-color: black;
}

.navbar{
    background-color: #2f2f2f;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    text-align: center;
    align-items: center;
    margin-left: 10%;
}

.logo h1{
    font-size: 45px;
    text-align: left;
    font-family: 'Lobster', cursive;
    color: #397c2c;
}

.menu{
    flex: 60%;
    text-align: right;
    padding: 20px;
    margin-right: 10%;
}

.menu a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #397c2c;
    margin-right: 10px;
}

    .menu a:hover{
    border-top: 4px solid black;
    color: black;
    }

    #botao{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: black;
    color:#397c2c ;
    margin-right: 0px;
    margin-left: 5%;
    font-size: 25px;
    }

    #botao:hover{
    background-color: gray;
    color: black;
    border: none;
    }

header{
    margin-left: 10%;
    margin-right: 10%;
    height: 550px;
    margin-top: 5%;
}
header h2{
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #397c2c;
}

.artigos{ 
    display: flex;
    height: 450px;
}

.descricao{
    display:flex ;
    width: 50%;
    border: solid 1px #397c2c;
    height: 450px;
    border-radius: 20px;
    background-color: #2f2f2f;
}

.minhft img{
    width: 300px;
    height: 300px;
    margin-top: 27px;
    border-radius: 10px;
    margin-left: 8px;
}

.descript{
    margin-left: 15px;
    margin-right: 10px;
    text-align: left;
    margin-top: 0px;
    padding: 0px;
}

.descript p{
    font-size: 20px;
    margin-bottom: 30px;
    color: gray;
}

.negocio{
    justify-content: center;
    height: 450px;
}
.negocio img{
    width: 500px;
    height: 400px;
    margin-left: 255px;
    margin-top: 25px;
    border-radius: 5px;
}

#botton{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: black;
    color: #397c2c;
    text-decoration: none;
    margin-top: 8px
}

#botton:hover{
    background-color: gray;
    color: black;
    border: none; 
}

.serv{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    height: 550px;
}

section{
    border-top: 5px solid #397c2c;
}
section h2, h3{
    margin-left: 10%;
    font-size: 35px;
    color: #397c2c;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.devweb, .devapp, .mkt{
    align-items: center;
    text-align: center;
    border: solid 1px #397c2c;
    flex: 25%;
    height: 400px;
    margin-left: 15px;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.devweb p, .devapp p, .mkt p{
font-size: 17px;
color: gray;
}

.devweb h3, .devapp h3, .mkt h3{
    font-size: 25px;
}


.footer{
    text-align: center;
    justify-content: center;
    border-top: solid 5px #397c2c;
    padding-bottom: 25px;
    background-color: #2f2f2f
}

.footer h1{
    margin-bottom: 0px;
    padding-bottom: 0;
    font-family: 'Lobster', cursive;
    color: #397c2c;
}

.footer p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
color: #397c2c;
}
.contatos{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 25px;
}

.acompanhe{
    flex: 70%;
    align-items: center;
    margin-left: 50px;
}

.acompanhe li{
    display: inline;
margin-left: 10%;
}

.acompanhe li a{
    text-decoration: none;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
background-color: #2f2f2f;
}

.footer p{
    font-size: 25px;
    padding-top: 5px;
    margin-top: 5px;
}

form textarea{
    resize: none;
}

#local{
    padding: 64px;
}

